<!DOCTYPE html>
<html>
<head>
    <title>Hidden Markov Model</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% if error %}
        <div class="card" style="background:#ffe6e6; color:#900;">
            {{ error }}
        </div>
    {% endif %}

    <h1>Hidden Markov Model – Weather Example</h1>

    <form method="POST">
        <input type="text" name="observations" placeholder="walk shop clean walk" required>
        <input type="number" name="states" placeholder="Number of hidden states" required>
        <button type="submit">Train HMM</button>
    </form>


    {% if result %}

<div class="card">
    <h2>Final P(O | λ)</h2>
    <p>{{ result.likelihood }}</p>
</div>

<div class="card">
    <h2>Initial Distribution π</h2>
    {% for val in result.pi %}
        <p>{{ "%.4f"|format(val) }}</p>
    {% endfor %}
</div>

<div class="card">
    <h2>Transition Matrix A</h2>
    <table>
        {% for row in result.A %}
            <tr>
                {% for val in row %}
                    <td>{{ "%.4f"|format(val) }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>

<div class="card">
    <h2>Emission Matrix B</h2>
    <table>
        {% for row in result.B %}
            <tr>
                {% for val in row %}
                    <td>{{ "%.4f"|format(val) }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>

<div class="card">
    <h2>Likelihood Over Iterations</h2>
    <img src="{{ url_for('static', filename='likelihood.png') }}">
</div>

{% endif %}


</body>
</html>
